canvas {
    display: block;
    margin: 0 auto;
    background-color: rgb(181, 211, 237);
}

.mems-gallery {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
}

.meme-img {
    height: 100px;
    width: 100px;
    margin: 10px;
}

.meme {
    display: flex;
    justify-content: space-around;
}

.feachure { 
    display: flex;
    flex-wrap: wrap;
}

.emoji-feachure {
    font-size: 40px;
}

.hide {
    display: none;
}